html
  head
    title jwt-auth them all
    link(rel="stylesheet", href="style.css")
  body
    h1 Welcome to level 18 of developer hell
    h2 Lord oAuth awaits.

    form#form
      #status
      input#domain(placeHolder="name your site")
      button(onclick="addSite();") add site 

    #results

    script(src="script.js")

